{% extends "bootstrap/base.html" %}
{% block title %}Kickoff Streaming data{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
  <style>
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
  </style>
{% endblock %}

{% block scripts %}
  <script>
    var slider = document.getElementById("range");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value; // Display the default slider value
  
    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      output.innerHTML = this.value;
    }
    </script>

    <script>
    var slideCol = document.getElementById("ranges");
    var y = document.getElementById("f");
    y.innerHTML = slideCol.value;
    
    slideCol.oninput = function() {
        y.innerHTML = this.value;
    }
    </script>

    <script>
    function updateTextInput(val) {
          document.getElementById('range').value=val; 
        }
    </script>
{% endblock %}


{% block content %}
<center><table>
<tr><td>
<div class="container-fluid">
  <form action = "/firemessage" method = "POST">
    <div class="form-group">
      <label for="messages">Message Count:</label>
      <input id="messages" class="form-control" name="messages" value="10000">
    </div>
    <div class="form-group">
      <label for="range">Percentage of Unique Messages:</label>
      <span id="f" style="font-weight:bold;color:red"></span>%
      <input type="range" min="1" max="100" value="10" class="slider" id="ranges" onchange="updateTextInput(this.value);">
      <input type="hidden" id="range" value="10" class="form-control" name="range">
    </div>
    <div class="form-group">
      <label for="sleepms">Time to sleep (ms):</label>
      <input id="sleepms" class="form-control" name="sleepms" value="5">
    </div>
    <div class="form-group">
      <p><input type = "submit" value = "Start Streaming" /></p>
    </div>
  </form>
</div>
</td><td>
</table></center>

{% endblock %}
